@model Kurs

<form method="post" asp-controller="Kurs" asp-action="Create">
    <label>Naziv:</label>
    <input type="text" asp-for="NazivKursa" />
    <span asp-validation-for="NazivKursa"></span>
    @Html.ValidationMessage("NazivKursaValidation") 
  @*  ne moze da radi onako jer nazivkursavalidation nije properti pa mora preko html taga*@
    <input type="submit" value="Dodaj" />
</form>
