@model Kurs

<h3> Kurs</h3>
<h3>Redni broj: @Model.KursId</h3>
<h3>Naziv: @Model.NazivKursa</h3>
<h3>Lekcije:</h3>
@foreach (Lekcija l in Model.Lekcije)
{
    <h6>@l.Naziv</h6>
}

<div class="form-control">
    <form method="post" asp-controller="Kurs" asp-action="Create">
        <label>Naziv:</label>
        <input type="text" asp-for="NazivKursa" />
        <span asp-validation-for="NazivKursa"></span>
        @Html.ValidationMessage("NazivKursaValidation")
        @*  ne moze da radi onako jer nazivkursavalidation nije properti pa mora preko html taga*@
        <input type="submit" value="Izmeni kurs" />
    </form>
</div>
